<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <visit-pages>
            <processor type="Sitecore.Cintel.Reporting.Contact.Page.Processors.ConstructVisitPagesDataTable, Sitecore.Cintel">
              <patch:attribute name="type">Sitecore.Support.Cintel.Reporting.Contact.Page.Processors.ConstructVisitPagesDataTable, Sitecore.Support.151573</patch:attribute>
            </processor>
            <processor type="Sitecore.Cintel.Reporting.Contact.Page.Processors.PopulateVisitPagesWithXdbData, Sitecore.Cintel">
               <patch:attribute name="type">Sitecore.Support.Cintel.Reporting.Contact.Page.Processors.PopulateVisitPagesWithXdbData, Sitecore.Support.151573</patch:attribute>
            </processor>
          </visit-pages>
        </pipelines>
      </group>
      <group groupName="ExperienceProfileContactDataSourceQueries">
        <pipelines>
            <pages-by-visit-query>
              <processor type="Sitecore.Cintel.Reporting.ReportingServerDatasource.VisitPages.GetPages, Sitecore.Cintel">
                <patch:attribute name="type">Sitecore.Support.Cintel.Reporting.ReportingServerDatasource.VisitPages.GetPages, Sitecore.Support.151573</patch:attribute>
              </processor>
          </pages-by-visit-query>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>